In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
player_info_df = pd.read_csv('data/player_info.csv')

pbp_2018_df = pd.read_csv('data/wnba_pbp_2018.csv')
pbp_2019_df = pd.read_csv('data/wnba_pbp_2019.csv')
pbp_2020_df = pd.read_csv('data/wnba_pbp_2020.csv')
pbp_2021_df = pd.read_csv('data/wnba_pbp_2021.csv')
pbp_2022_df = pd.read_csv('data/wnba_pbp_2022.csv')
pbp_2023_df = pd.read_csv('data/wnba_pbp_2023.csv')
pbp_2024_df = pd.read_csv('data/wnba_pbp_2024.csv')

player_box_2018_df = pd.read_csv('data/wnba_player_box_2018.csv')
player_box_2019_df = pd.read_csv('data/wnba_player_box_2019.csv')
player_box_2020_df = pd.read_csv('data/wnba_player_box_2020.csv')
player_box_2021_df = pd.read_csv('data/wnba_player_box_2021.csv')
player_box_2022_df = pd.read_csv('data/wnba_player_box_2022.csv')
player_box_2023_df = pd.read_csv('data/wnba_player_box_2023.csv')
player_box_2024_df = pd.read_csv('data/wnba_player_box_2024.csv')

schedule_2018_df = pd.read_csv('data/wnba_schedule_2018.csv')
schedule_2019_df = pd.read_csv('data/wnba_schedule_2019.csv')
schedule_2020_df = pd.read_csv('data/wnba_schedule_2020.csv')
schedule_2021_df = pd.read_csv('data/wnba_schedule_2021.csv')
schedule_2022_df = pd.read_csv('data/wnba_schedule_2022.csv')
schedule_2023_df = pd.read_csv('data/wnba_schedule_2023.csv')
schedule_2024_df = pd.read_csv('data/wnba_schedule_2024.csv')

team_box_2018_df = pd.read_csv('data/wnba_team_box_2018.csv')
team_box_2019_df = pd.read_csv('data/wnba_team_box_2019.csv')
team_box_2020_df = pd.read_csv('data/wnba_team_box_2020.csv')
team_box_2021_df = pd.read_csv('data/wnba_team_box_2021.csv')
team_box_2022_df = pd.read_csv('data/wnba_team_box_2022.csv')
team_box_2023_df = pd.read_csv('data/wnba_team_box_2023.csv')
team_box_2024_df = pd.read_csv('data/wnba_team_box_2024.csv')

# 1. Which player scored the most points in a single game between 2018 and 2024?

In [3]:
question_1_df_2018 = player_box_2018_df[['athlete_display_name', 'points']]
question_1_df_2019 = player_box_2019_df[['athlete_display_name', 'points']]
question_1_df_2020 = player_box_2020_df[['athlete_display_name', 'points']]
question_1_df_2021 = player_box_2021_df[['athlete_display_name', 'points']]
question_1_df_2022 = player_box_2022_df[['athlete_display_name', 'points']]
question_1_df_2023 = player_box_2023_df[['athlete_display_name', 'points']]
question_1_df_2024 = player_box_2024_df[['athlete_display_name', 'points']]

question_1_df = pd.concat([question_1_df_2018, question_1_df_2019, question_1_df_2020, 
                           question_1_df_2021, question_1_df_2022, question_1_df_2023,
                           question_1_df_2024], ignore_index=True)

In [4]:
question_1_df = question_1_df.groupby('athlete_display_name', as_index=False)['points'].max()

In [5]:
question_1_df = question_1_df.sort_values(by='points', ascending=False)

In [6]:
question_1_df.head()

    athlete_display_name  points
0            A'ja Wilson    53.0
219          Liz Cambage    53.0
51       Breanna Stewart    45.0
280         Rhyne Howard    43.0
105        Diana Taurasi    42.0

# 2. Which team had the highest average points per game in the 2021 season?

In [7]:
question_2_df = team_box_2021_df[['team_display_name', 'team_score']]

In [8]:
question_2_df = question_2_df.groupby('team_display_name', as_index=False)['team_score'].mean()

In [9]:
question_2_df = question_2_df.sort_values(by='team_score', ascending=False)

In [10]:
question_2_df = question_2_df[question_2_df['team_display_name'] != 'Team WNBA']
question_2_df = question_2_df[question_2_df['team_display_name'] != 'Team Usa']

In [11]:
question_2_df.head()

   team_display_name  team_score
5     Las Vegas Aces   88.648649
10     Seattle Storm   84.500000
1        Chicago Sky   83.595238
7     Minnesota Lynx   82.515152
9    Phoenix Mercury   82.395349

# 3. How many games ended in overtime during the 2023 season?

In [12]:
question_3_df = pbp_2023_df[['game_id', 'qtr']]

In [13]:
question_3_df = question_3_df[question_3_df['qtr'] == 5]

In [14]:
question_3_df = question_3_df.drop_duplicates(subset='game_id')

In [15]:
question_3_df.shape[0]

11

# 4. Which player had the highest free throw percentage in the 2020 season (min. 25 FT’s attempted)?

In [16]:
question_4_df = player_box_2020_df[['athlete_display_name', 'free_throws_made', 'free_throws_attempted']]

In [17]:
question_4_df = question_4_df.groupby('athlete_display_name', as_index=False).sum()

In [18]:
question_4_df = question_4_df[question_4_df['free_throws_attempted'] >= 25.0]

In [19]:
question_4_df['free_throws_percentage'] = question_4_df['free_throws_made'] / question_4_df['free_throws_attempted']

In [20]:
question_4_df = question_4_df.drop(columns=['free_throws_made', 'free_throws_attempted'])

In [21]:
question_4_df = question_4_df.sort_values(by='free_throws_percentage', ascending=False)

In [22]:
question_4_df.head()

    athlete_display_name  free_throws_percentage
149     Tiffany Mitchell                0.950617
36          Chelsea Gray                0.938776
119         Odyssey Sims                0.938776
8          Allie Quigley                0.926829
49         Diana Taurasi                0.918033

# 5. What was the win-loss record of the Seattle Storm in the 2022 season?

In [23]:
question_5_df = team_box_2022_df[['team_display_name', 'team_winner', 'season_type']]

In [24]:
question_5_df = question_5_df[question_5_df['team_display_name'] == 'Seattle Storm']

In [25]:
question_5_df['team_winner'].value_counts()

True     25
False    17
Name: team_winner, dtype: int64

In [26]:
question_5_df = question_5_df[question_5_df['season_type'] == 2]

In [27]:
question_5_df['team_winner'].value_counts()

True     22
False    14
Name: team_winner, dtype: int64

# 6. Which team had the longest winning streak in the 2019 season (Inclusive of postseason)?

In [28]:
question_6_df = team_box_2019_df[['team_short_display_name', 'game_id', 'game_date', 'team_score', 'opponent_team_score']]

# Determine the outcome of each game for each team
question_6_df['win'] = question_6_df['team_score'] > question_6_df['opponent_team_score']

# Sort by team and game date
question_6_df.sort_values(by=['team_short_display_name', 'game_date'], inplace=True)

# Function to calculate the longest winning streak for each team
def longest_streak(team_df):
    max_streak = 0
    current_streak = 0
    for win in team_df['win']:
        if win:
            current_streak += 1
            if current_streak > max_streak:
                max_streak = current_streak
        else:
            current_streak = 0
    return max_streak

# Apply the function to each team
question_6_df
team_streaks = question_6_df.groupby('team_short_display_name').apply(longest_streak).reset_index()
team_streaks.columns = ['team_short_display_name', 'longest_winning_streak']
team_streaks = team_streaks.sort_values(by='longest_winning_streak', ascending=False)
display(team_streaks)

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/2342042985.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_6_df['win'] = question_6_df['team_score'] > question_6_df['opponent_team_score']
/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

   team_short_display_name  longest_winning_streak
6                  Mystics                       8
10                     Sun                       7
0                     Aces                       5
4                     Lynx                       5
8                   Sparks                       5
3                  Liberty                       4
7                      Sky                       4
9                    Storm                       4
5                  Mercury                       3
13                   Wings                       3
1                    Dream                       2
2                    Fever                       2
12             Team Wilson                       1
11        Team Delle Donne                       0

# 7. How many triple-doubles were recorded in the WNBA between 2018 and 2024, and by which players?

In [29]:
# Identify the number of triple doubles for each player in the wnba between 2018 and 2024
question_7_df = pd.concat([player_box_2018_df, player_box_2019_df, player_box_2020_df, player_box_2021_df, player_box_2022_df, player_box_2023_df, player_box_2024_df], ignore_index=True)

# Triple Doubles for points, assists, rebounds, blocks, and steals
question_7_df = question_7_df[['athlete_display_name', 'points', 'assists', 'rebounds', 'blocks', 'steals']]

def triple_double(row):
    """Function for identifying triple doubles in the WNBA per player"""
    if row['points'] >= 10 and row['blocks'] >= 10 and row['steals'] >= 10:
        return 1
    elif row['points'] >= 10 and row['assists'] >= 10 and row['rebounds'] >= 10:
        return 1
    elif row['points'] >= 10 and row['assists'] >= 10 and row['blocks'] >= 10:
        return 1
    elif row['points'] >= 10 and row['assists'] >= 10 and row['steals'] >= 10:
        return 1
    elif row['points'] >= 10 and row['rebounds'] >= 10 and row['blocks'] >= 10:
        return 1
    elif row['points'] >= 10 and row['rebounds'] >= 10 and row['steals'] >= 10:
        return 1
    elif row['assists'] >= 10 and row['rebounds'] >= 10 and row['blocks'] >= 10:
        return 1
    elif row['assists'] >= 10 and row['rebounds'] >= 10 and row['steals'] >= 10:
        return 1
    elif row['assists'] >= 10 and row['blocks'] >= 10 and row['steals'] >= 10:
        return 1
    elif row['rebounds'] >= 10 and row['blocks'] >= 10 and row['steals'] >= 10:
        return 1
    else:
        return 0
    
question_7_series = question_7_df.apply(triple_double, axis = 1)
question_7_df['triple_doubles'] = question_7_series

# Look at triple doubles only
question_7_df = question_7_df[question_7_df['triple_doubles'] > 0]

# Summarize the dataframe to get the total number of triple doubles per player
question_7_df = question_7_df.groupby('athlete_display_name')['triple_doubles'].sum().reset_index()

question_7_df = question_7_df.sort_values(by='triple_doubles', ascending=False).reset_index(drop=True)

display(question_7_df)

    athlete_display_name  triple_doubles
0          Alyssa Thomas              12
1        Sabrina Ionescu               4
2         Candace Parker               2
3           Chelsea Gray               2
4   Courtney Vandersloot               2
5      Courtney Williams               2
6      Layshia Clarendon               1
7       Moriah Jefferson               1
8         Natasha Howard               1
9          Satou Sabally               1
10            Sug Sutton               1

# 8. Which team had the best defense in the 2024 season (by opponent points)?

In [30]:
question_8_df = team_box_2024_df[['team_display_name', 'opponent_team_score']]

In [31]:
question_8_df = question_8_df.groupby('team_display_name', as_index=False)['opponent_team_score'].mean()

In [32]:
question_8_df = question_8_df.sort_values(by='opponent_team_score', ascending=True)

In [33]:
question_8_df.head()

   team_display_name  opponent_team_score
2    Connecticut Sun            71.083333
8   New York Liberty            75.923077
7     Minnesota Lynx            76.000000
10     Seattle Storm            78.076923
1        Chicago Sky            80.000000

# 9. Identify the game with the highest combined score (both teams) from 2018 to 2024.

In [34]:
question_9_df_2018 = team_box_2018_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2019 = team_box_2019_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2020 = team_box_2020_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2021 = team_box_2021_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2022 = team_box_2022_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2023 = team_box_2023_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2024 = team_box_2024_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]

question_9_df = pd.concat([question_9_df_2018, question_9_df_2019, question_9_df_2020, 
                           question_9_df_2021, question_9_df_2022, question_9_df_2023,
                           question_9_df_2024], ignore_index=True)

In [35]:
question_9_df['combined_score'] = question_9_df['team_score'] + question_9_df['opponent_team_score']

In [36]:
question_9_df = question_9_df.drop_duplicates(subset='game_id')

In [37]:
question_9_df = question_9_df.drop(columns=['team_score', 'opponent_team_score', 'game_id'])

In [38]:
question_9_df = question_9_df[~question_9_df['team_display_name'].str.contains('Team')]

In [39]:
question_9_df = question_9_df.sort_values(by='combined_score', ascending=False)

In [40]:
question_9_df.head()

,game_date,team_display_name,opponent_team_display_name,team_home_away,combined_score
1802,2022-07-12,Phoenix Mercury,Minnesota Lynx,away,225
1816,2022-07-06,New York Liberty,Las Vegas Aces,away,223
46,2018-08-18,Chicago Sky,Indiana Fever,away,221
1392,2021-07-04,Atlanta Dream,Las Vegas Aces,away,213
160,2018-07-20,Dallas Wings,Chicago Sky,away,213

# 10. Which player played the most minutes in the 2021 season?

In [41]:
question_10_df = player_box_2021_df[['athlete_display_name', 'minutes']]

In [42]:
question_10_df = question_10_df.groupby('athlete_display_name', as_index=False)['minutes'].sum()

In [43]:
question_10_df = question_10_df.sort_values(by='minutes', ascending=False)

In [44]:
question_10_df.head()

     athlete_display_name  minutes
140  Skylar Diggins-Smith   1440.0
30        Brittney Griner   1394.0
26         Brianna Turner   1342.0
42   Courtney Vandersloot   1337.0
79         Kahleah Copper   1329.0

# 11. What is the average attendance for games in the 2020 season?

In [45]:
question_11_df = schedule_2020_df[['attendance']]

In [46]:
question_11_df = question_11_df.sort_values(by='attendance', ascending=False)

In [47]:
question_11_df['attendance'].mean()

1.380952380952381

# 12. Which player had the highest number of assists in a single game during the 2019 season?

In [48]:
question_12_df = player_box_2019_df[['athlete_display_name', 'assists']]

In [49]:
question_12_df = question_12_df.sort_values(by='assists', ascending=False)

In [50]:
question_12_df.head()

      athlete_display_name  assists
2648  Courtney Vandersloot     14.0
3356          Chelsea Gray     13.0
831   Courtney Vandersloot     13.0
1968  Courtney Vandersloot     13.0
1157  Courtney Vandersloot     13.0

# 13. How many times did the Chicago Sky make it to the playoffs between 2018 and 2024?

In [51]:
question_13_df_2018 = schedule_2018_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2019 = schedule_2019_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2020 = schedule_2020_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2021 = schedule_2021_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2022 = schedule_2022_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2023 = schedule_2023_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2024 = schedule_2024_df[['season', 'season_type', 'home_display_name', 'away_display_name']]

question_13_df = pd.concat([question_13_df_2018, question_13_df_2019, question_13_df_2020, 
                           question_13_df_2021, question_13_df_2022, question_13_df_2023,
                           question_13_df_2024], ignore_index=True)

In [52]:
question_13_df = question_13_df[question_13_df['season_type'] == 3]

In [53]:
question_13_df = question_13_df[(question_13_df['home_display_name'] == 'Chicago Sky') | (question_13_df['away_display_name'] == 'Chicago Sky')]

In [54]:
question_13_df = question_13_df[['season']]

In [55]:
question_13_df = question_13_df.drop_duplicates(subset='season')

In [56]:
question_13_df.shape[0]

5

# 14. What was the average margin of victory for the Las Vegas Aces in the 2022 season?

In [57]:
question_14_df = team_box_2022_df[['team_display_name', 'team_score', 'opponent_team_score']]

In [58]:
question_14_df = question_14_df[question_14_df['team_display_name'] == 'Las Vegas Aces']

In [59]:
question_14_df['score_difference'] = question_14_df['team_score'] - question_14_df['opponent_team_score']

In [60]:
question_14_df = question_14_df.drop(columns=['team_score', 'opponent_team_score'])

In [61]:
question_14_df = question_14_df.groupby('team_display_name', as_index=False)['score_difference'].mean()

In [62]:
question_14_df

  team_display_name  score_difference
0    Las Vegas Aces          6.510638

# 15. Which player had the most steals in the 2023 season?

In [63]:
question_15_df = player_box_2023_df[['athlete_display_name', 'steals']]

In [64]:
question_15_df = question_15_df.groupby('athlete_display_name', as_index=False)['steals'].sum()

In [65]:
question_15_df = question_15_df.sort_values(by='steals', ascending=False)

In [66]:
question_15_df.head()

    athlete_display_name  steals
25        Brittney Sykes    88.0
72         Jordin Canada    86.0
10         Alyssa Thomas    85.0
14      Arike Ogunbowale    77.0
142        Satou Sabally    76.0

# 16. Identify the top 5 games with the highest attendance between 2018 and 2024.

In [67]:
question_16_df_2018 = schedule_2018_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2019 = schedule_2019_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2020 = schedule_2020_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2021 = schedule_2021_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2022 = schedule_2022_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2023 = schedule_2023_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2024 = schedule_2024_df[['date', 'attendance', 'away_display_name', 'home_display_name']]

question_16_df = pd.concat([question_16_df_2018, question_16_df_2019, question_16_df_2020, 
                           question_16_df_2021, question_16_df_2022, question_16_df_2023,
                           question_16_df_2024], ignore_index=True)

In [68]:
question_16_df = question_16_df.sort_values(by='attendance', ascending=False)

In [69]:
question_16_df.head()

                   date  attendance away_display_name   home_display_name
1491  2024-06-07T23:30Z       20333     Indiana Fever  Washington Mystics
1523  2024-05-25T02:00Z       19103     Indiana Fever  Los Angeles Sparks
53    2018-08-05T23:00Z       19076   Phoenix Mercury  Los Angeles Sparks
1527  2024-05-23T02:00Z       18343     Indiana Fever       Seattle Storm
844   2022-08-07T19:00Z       18100    Las Vegas Aces       Seattle Storm

# 17. What is the average number of three-point shots made per game by each team in the 2023 season?

In [70]:
question_17_df = team_box_2023_df[['team_display_name', 'three_point_field_goals_made', 'game_id']]

question_17_games = schedule_2023_df[['id','type_abbreviation']].where(schedule_2023_df.type_abbreviation == 'STD').dropna().reset_index(drop=True)
question_17_games['game_id'] = question_17_games['id'].astype(str).str[0:9]
question_17_df['game_id'] = question_17_df['game_id'].astype(str)

question_17_games
# Join the DataFrame with specified suffixes to avoid column overlap
question_17_df = question_17_df.join(question_17_games.set_index('game_id'), on='game_id', how='inner', lsuffix='_team', rsuffix='_game')

question_17_df = question_17_df.groupby('team_display_name', as_index=False)['three_point_field_goals_made'].mean()
display(question_17_df)

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/40314853.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_17_df['game_id'] = question_17_df['game_id'].astype(str)

     team_display_name  three_point_field_goals_made
0        Atlanta Dream                         6.425
1          Chicago Sky                         8.250
2      Connecticut Sun                         7.175
3         Dallas Wings                         6.750
4        Indiana Fever                         6.725
5       Las Vegas Aces                         9.275
6   Los Angeles Sparks                         6.500
7       Minnesota Lynx                         6.750
8     New York Liberty                        11.100
9      Phoenix Mercury                         6.775
10       Seattle Storm                         8.500
11  Washington Mystics                         7.750

# 18. Which games had the most technical fouls called between 2018 and 2024?

In [71]:
question_18_df_2018 = team_box_2018_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2019 = team_box_2019_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2020 = team_box_2020_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2021 = team_box_2021_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2022 = team_box_2022_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2023 = team_box_2023_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2024 = team_box_2024_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]

question_18_df = pd.concat([question_18_df_2018, question_18_df_2019, question_18_df_2020, 
                           question_18_df_2021, question_18_df_2022, question_18_df_2023,
                           question_18_df_2024], ignore_index=True)

In [72]:
question_18_df_sub = question_18_df[['game_id', 'total_technical_fouls']]

In [73]:
question_18_df_sub = question_18_df_sub.groupby('game_id', as_index=False)['total_technical_fouls'].sum()

In [74]:
question_18_df_sub = question_18_df_sub.sort_values(by='total_technical_fouls', ascending=False)

In [75]:
question_18_df_sub.head()

        game_id  total_technical_fouls
1106  401507196                     10
136   401018917                      9
648   401320624                      7
23    401018804                      6
178   401018960                      6

In [76]:
question_18_df = question_18_df.drop_duplicates(subset='game_id')

In [77]:
question_18_df = question_18_df.drop(columns=['total_technical_fouls'])

In [78]:
question_18_df[question_18_df['game_id'] == 401507196]

,game_id,game_date,team_display_name,opponent_team_display_name,team_home_away
2474,401507196,2023-06-20,Atlanta Dream,Dallas Wings,away

In [79]:
question_18_df[question_18_df['game_id'] == 401018917]

,game_id,game_date,team_display_name,opponent_team_display_name,team_home_away
168,401018917,2018-07-19,New York Liberty,Atlanta Dream,away

In [80]:
question_18_df[question_18_df['game_id'] == 401320624]

,game_id,game_date,team_display_name,opponent_team_display_name,team_home_away
1480,401320624,2021-06-12,Los Angeles Sparks,Minnesota Lynx,away

# 19. Who were the top 3 rebounders in the 2021 season?

In [81]:
question_19_df = player_box_2021_df[['athlete_display_name', 'rebounds']]

In [82]:
question_19_df = question_19_df.groupby('athlete_display_name', as_index=False)['rebounds'].sum()

In [83]:
question_19_df = question_19_df.sort_values(by='rebounds', ascending=False)

In [84]:
question_19_df.head()

    athlete_display_name  rebounds
26        Brianna Turner     411.0
30       Brittney Griner     379.0
76         Jonquel Jones     367.0
0            A'ja Wilson     349.0
149        Sylvia Fowles     327.0

# 20. What was the total number of blocks by Brittney Griner in the 2023 season?

In [85]:
question_20_df = player_box_2023_df[['athlete_display_name', 'blocks']]

In [86]:
question_20_df = question_20_df.groupby('athlete_display_name', as_index=False)['blocks'].sum()

In [87]:
question_20_df[question_20_df['athlete_display_name'] == 'Brittney Griner']

   athlete_display_name  blocks
24      Brittney Griner    52.0

# 21. How did the average points per game of the top 3 scorers change each season from 2018 to 2024?

In [88]:
question_21_df_2018 = player_box_2018_df[['athlete_display_name', 'game_id', 'points']]
question_21_df_2024 = player_box_2024_df[['athlete_display_name', 'game_id', 'points']]

def top_3_scorers(df):
   """Function that returns average points per game for the top 3 scorers"""
   top_3_scorers = df.groupby('athlete_display_name')['points'].mean().nlargest(3)
   return top_3_scorers

top_3_scorers_2018 = top_3_scorers(question_21_df_2018)
top_3_scorers_2024 = top_3_scorers(question_21_df_2024)

In [89]:
top_3_scorers_2018

athlete_display_name
Liz Cambage        22.647059
Breanna Stewart    22.069767
A'ja Wilson        20.588235
Name: points, dtype: float64

In [90]:
top_3_scorers_2024

athlete_display_name
A'ja Wilson         28.636364
Arike Ogunbowale    26.181818
Kahleah Copper      23.538462
Name: points, dtype: float64

# 22. Which team had the highest average home game attendance in the 2021 season?

In [91]:
question_22_df = schedule_2021_df[['home_display_name', 'attendance']]

In [92]:
question_22_df = question_22_df.groupby('home_display_name', as_index=False)['attendance'].mean()

In [93]:
question_22_df = question_22_df.sort_values(by='attendance', ascending=False)

In [94]:
question_22_df = question_22_df[question_22_df['home_display_name'] != 'Team WNBA']

In [95]:
question_22_df.head()

   home_display_name   attendance
9    Phoenix Mercury  6744.428571
1        Chicago Sky  3840.666667
2    Connecticut Sun  3093.666667
5     Las Vegas Aces  2934.263158
10     Seattle Storm  2894.222222

# 23. What was the average plus-minus of players who played more than 30 minutes per game in the 2022 season?

In [96]:
question_23_df = player_box_2022_df[['plus_minus', 'minutes']]

In [97]:
question_23_df = question_23_df[question_23_df['minutes'] > 30.0]

In [98]:
question_23_df = question_23_df.drop(columns=['minutes'])

In [99]:
question_23_df['plus_minus'] = question_23_df['plus_minus'].str.replace('+', '').astype(int)

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/3952893295.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  question_23_df['plus_minus'] = question_23_df['plus_minus'].str.replace('+', '').astype(int)

In [100]:
question_23_df['plus_minus'].mean()

1.2449177153920619

# 24. Which player had the highest scoring average in games where their team lost during the 2020 season?

In [101]:
question_24_df = player_box_2020_df[['athlete_display_name', 'points', 'team_winner']]

In [102]:
question_24_df = question_24_df[question_24_df['team_winner'] == False]

In [103]:
question_24_df = question_24_df.drop(columns=['team_winner'])

In [104]:
question_24_df = question_24_df.groupby('athlete_display_name', as_index=False)['points'].mean()

In [105]:
question_24_df = question_24_df.sort_values(by='points', ascending=False)

In [106]:
question_24_df.head()

    athlete_display_name     points
15      Arike Ogunbowale  20.714286
23       Breanna Stewart  20.666667
46        DeWanna Bonner  19.000000
125      Sabrina Ionescu  18.333333
69           Jewell Loyd  18.250000

# 25. Compare the shooting percentages of three-point shots versus two-point shots for the top 5 scorers in the 2023 season.

In [107]:
question_25_df = player_box_2023_df[['athlete_display_name', 'points', 'field_goals_made', 'field_goals_attempted', 'three_point_field_goals_made', 'three_point_field_goals_attempted']]
question_25_df = question_25_df.groupby('athlete_display_name', as_index=False).sum().sort_values(by='points', ascending=False).reset_index(drop=True)
question_25_df['field_goal_percentage'] = question_25_df['field_goals_made'] / question_25_df['field_goals_attempted']
question_25_df['three_point_percentage'] = question_25_df['three_point_field_goals_made'] / question_25_df['three_point_field_goals_attempted']

# Limit to top 5 scorers
question_25_df = question_25_df.head(5)
question_25_df[['athlete_display_name','field_goal_percentage','three_point_percentage']]

  athlete_display_name  field_goal_percentage  three_point_percentage
0          A'ja Wilson               0.552972                0.324324
1      Breanna Stewart               0.437360                0.327526
2          Jewell Loyd               0.372475                0.363372
3     Arike Ogunbowale               0.395189                0.339332
4          Kelsey Plum               0.466374                0.397554

# 26. Which player had the highest average assists in the last 3 minutes of games during the 2021 season?

In [108]:
question_26_df = pbp_2021_df[['athlete_id_2', 'text', 'scoring_play', 'start_game_seconds_remaining', 'game_id']]

In [109]:
question_26_df = question_26_df[question_26_df['scoring_play'] == True]

In [110]:
question_26_df = question_26_df[question_26_df['start_game_seconds_remaining'] < 180]

In [111]:
question_26_df['text'] = question_26_df['text'].str.lower()

In [112]:
question_26_df = question_26_df[question_26_df['text'].str.contains('assists')]

In [113]:
question_26_df = question_26_df.drop(columns=['text', 'scoring_play', 'start_game_seconds_remaining'])

In [114]:
question_26_df['assist_count'] = 1

In [115]:
question_26_df = question_26_df.groupby(['athlete_id_2', 'game_id'])['assist_count'].sum().reset_index()

In [116]:
question_26_df['game_id'] = 1

In [117]:
question_26_df = question_26_df.groupby(['athlete_id_2'])['game_id', 'assist_count'].sum().reset_index()

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/3166729950.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  question_26_df = question_26_df.groupby(['athlete_id_2'])['game_id', 'assist_count'].sum().reset_index()

In [118]:
question_26_df['APG'] = question_26_df['assist_count'] / question_26_df['game_id']

In [119]:
question_26_df = question_26_df.drop(columns=['assist_count', 'game_id'])

In [120]:
question_26_df = question_26_df.sort_values(by='APG', ascending=False)

In [121]:
question_26_df.head()

     athlete_id_2       APG
2           689.0  2.000000
123     4282168.0  2.000000
15          981.0  1.875000
81      3142250.0  1.800000
26      2284331.0  1.666667

In [122]:
question_26_df_player_info = player_info_df[['athlete_id', 'athlete_name']]

In [123]:
question_26_df_player_info = question_26_df_player_info[(question_26_df_player_info['athlete_id'] == 689) | (question_26_df_player_info['athlete_id'] == 4282168)]

In [124]:
question_26_df_player_info

     athlete_id    athlete_name
13          689  Candice Dupree
276     4282168  Kiana Williams

# 29. Identify the player with the most made pull-up jump shots between 2018 and 2024.

In [125]:
question_29_df_2018 = pbp_2018_df[['athlete_id_1', 'type_text', 'scoring_play']]
question_29_df_2019 = pbp_2019_df[['athlete_id_1', 'type_text', 'scoring_play']]
question_29_df_2020 = pbp_2020_df[['athlete_id_1', 'type_text', 'scoring_play']]
question_29_df_2021 = pbp_2021_df[['athlete_id_1', 'type_text', 'scoring_play']]
question_29_df_2022 = pbp_2022_df[['athlete_id_1', 'type_text', 'scoring_play']]
question_29_df_2023 = pbp_2023_df[['athlete_id_1', 'type_text', 'scoring_play']]
question_29_df_2024 = pbp_2024_df[['athlete_id_1', 'type_text', 'scoring_play']]

question_29_df = pd.concat([question_29_df_2018, question_29_df_2019, question_29_df_2020, 
                           question_29_df_2021, question_29_df_2022, question_29_df_2023,
                           question_29_df_2024], ignore_index=True)

In [126]:
question_29_df['type_text'] = question_29_df['type_text'].str.lower()

In [127]:
question_29_df = question_29_df[question_29_df['type_text'].str.contains('pullup')]

In [128]:
question_29_df = question_29_df.drop(columns=['type_text'])

In [129]:
question_29_df = question_29_df[question_29_df['scoring_play'] == True]

In [130]:
question_29_df = question_29_df.astype(int)

In [131]:
question_29_df = question_29_df.groupby('athlete_id_1', as_index=False)['scoring_play'].sum()

In [132]:
question_29_df = question_29_df.sort_values(by='scoring_play', ascending=False)

In [133]:
question_29_df.head()

     athlete_id_1  scoring_play
101       2987891           488
69        2529122           367
149       3904577           241
133       3142191           238
175       4065870           233

In [134]:
question_29_df_player_info = player_info_df[['athlete_id', 'athlete_name']]

In [135]:
question_29_df_player_info = question_29_df_player_info[question_29_df_player_info['athlete_id'] == 2987891]

In [136]:
question_29_df_player_info

     athlete_id       athlete_name
133     2987891  Courtney Williams

# 30. Which team had the most efficient offense in terms of points per shot attempt, excluding free throws, in the 2023 season?

In [137]:
question_30_df = team_box_2023_df[['team_display_name', 'team_score', 'field_goals_attempted', 'free_throws_made']]

In [138]:
question_30_df['team_score'] = question_30_df['team_score'] - question_30_df['free_throws_made']

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/3461317518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_30_df['team_score'] = question_30_df['team_score'] - question_30_df['free_throws_made']

In [139]:
question_30_df = question_30_df.drop(columns=['free_throws_made'])

In [140]:
question_30_df = question_30_df[question_30_df['team_display_name'] != 'Team Wilson']
question_30_df = question_30_df[question_30_df['team_display_name'] != 'Team Stewart']

In [141]:
question_30_df = question_30_df.groupby(['team_display_name'])['team_score', 'field_goals_attempted'].sum()

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/1916515642.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  question_30_df = question_30_df.groupby(['team_display_name'])['team_score', 'field_goals_attempted'].sum()

In [142]:
question_30_df['points_per_shot_attempt'] = question_30_df['team_score'] / question_30_df['field_goals_attempted']

In [143]:
question_30_df = question_30_df.drop(columns=['team_score', 'field_goals_attempted'])

In [144]:
question_30_df = question_30_df.sort_values(by='points_per_shot_attempt', ascending=False)

In [145]:
question_30_df.head()

                   points_per_shot_attempt
team_display_name
Las Vegas Aces                    1.083768
New York Liberty                  1.058182
Connecticut Sun                   1.005324
Phoenix Mercury                   0.994136
Chicago Sky                       0.992466

# 31. What was the shooting percentage of players on pull-up jumpers in the 2022 season?

In [146]:
question_31_df = pbp_2022_df[['type_text', 'scoring_play', 'shooting_play']]

In [147]:
question_31_df['type_text'] = question_31_df['type_text'].str.lower()

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/2359925827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_31_df['type_text'] = question_31_df['type_text'].str.lower()

In [148]:
question_31_df = question_31_df[question_31_df['type_text'].str.contains('pullup')]

In [149]:
question_31_df = question_31_df.drop(columns=['type_text'])

In [150]:
question_31_df = question_31_df.astype(int)

In [151]:
question_31_df = pd.DataFrame(question_31_df.sum()).transpose()

In [152]:
question_31_df['shoot_perc'] = question_31_df['scoring_play'] / question_31_df['shooting_play']

In [153]:
question_31_df = question_31_df.drop(columns=['scoring_play', 'shooting_play'])

In [154]:
question_31_df

   shoot_perc
0    0.360007

# 32. Which player had the most significant improvement in scoring average from one season to the next between 2018 and 2024? Consider out of players who played at least 100 minutes per season.

In [155]:
question_32_df_2018 = player_box_2018_df[['season', 'season_type', 'athlete_display_name', 'did_not_play', 'minutes', 'points']]
question_32_df_2019 = player_box_2019_df[['season', 'season_type', 'athlete_display_name', 'did_not_play', 'minutes', 'points']]
question_32_df_2020 = player_box_2020_df[['season', 'season_type', 'athlete_display_name', 'did_not_play', 'minutes', 'points']]
question_32_df_2021 = player_box_2021_df[['season', 'season_type', 'athlete_display_name', 'did_not_play', 'minutes', 'points']]
question_32_df_2022 = player_box_2022_df[['season', 'season_type', 'athlete_display_name', 'did_not_play', 'minutes', 'points']]
question_32_df_2023 = player_box_2023_df[['season', 'season_type', 'athlete_display_name', 'did_not_play', 'minutes', 'points']]
question_32_df_2024 = player_box_2024_df[['season', 'season_type', 'athlete_display_name', 'did_not_play', 'minutes', 'points']]

question_32_df = pd.concat([question_32_df_2018, question_32_df_2019, question_32_df_2020, 
                           question_32_df_2021, question_32_df_2022, question_32_df_2023,
                           question_32_df_2024], ignore_index=True)

In [156]:
question_32_df = question_32_df[question_32_df['season_type'] == 2]

In [157]:
question_32_df = question_32_df[question_32_df['did_not_play'] == False]

In [158]:
question_32_df = question_32_df.drop(columns=['season_type', 'did_not_play'])

In [159]:
question_32_df['games'] = 1

In [160]:
question_32_df = question_32_df.groupby(['athlete_display_name', 'season'])['points', 'games', 'minutes'].sum().reset_index()

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/1213672606.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  question_32_df = question_32_df.groupby(['athlete_display_name', 'season'])['points', 'games', 'minutes'].sum().reset_index()

In [161]:
question_32_df = question_32_df[question_32_df['minutes'] >= 100]

In [162]:
question_32_df['PPG'] = question_32_df['points'] / question_32_df['games']

In [163]:
question_32_df = question_32_df.drop(columns=['points', 'games', 'minutes'])

In [164]:
question_32_df = question_32_df.sort_values(by=['athlete_display_name', 'season'])

In [165]:
question_32_df['PPG_diff'] = question_32_df.groupby('athlete_display_name')['PPG'].diff()
question_32_df['season_diff'] = question_32_df.groupby('athlete_display_name')['season'].diff()

In [166]:
question_32_df = question_32_df[(question_32_df['season_diff'] == 1)]

In [167]:
question_32_df = question_32_df.drop(columns=['PPG', 'season_diff'])

In [168]:
question_32_df = question_32_df.sort_values(by='PPG_diff', ascending=False)

In [169]:
question_32_df.head()

    athlete_display_name  season   PPG_diff
764   Myisha Hines-Allen    2020  14.666667
335        Diana Taurasi    2020  14.403509
138       Betnijah Laney    2020  11.534759
312        Dearica Hamby    2024  11.100000
695       Maddy Siegrist    2024  10.529138

# 33. How many buzzer-beaters, at the end of the game, were made in the 2023 season and by whom?

In [170]:
question_33_df = pbp_2023_df[['athlete_id_1', 'scoring_play', 'start_game_seconds_remaining']]

In [171]:
question_33_df = question_33_df[question_33_df['scoring_play'] == True]

In [172]:
question_33_df = question_33_df[question_33_df['start_game_seconds_remaining'] == 0]

In [173]:
question_33_df = question_33_df.drop(columns=['scoring_play', 'start_game_seconds_remaining'])

In [174]:
question_33_df

       athlete_id_1
27215     3907781.0
55964     4432831.0
88152     3913881.0
89392     2998928.0

In [175]:
question_33_df_player_info = player_info_df[['athlete_id', 'athlete_name']]

In [176]:
question_33_df_player_info = question_33_df_player_info[(question_33_df_player_info['athlete_id'] == 3907781) 
                                                        | (question_33_df_player_info['athlete_id'] == 4432831)
                                                        | (question_33_df_player_info['athlete_id'] == 3913881)
                                                        | (question_33_df_player_info['athlete_id'] == 2998928)]

In [177]:
question_33_df_player_info

     athlete_id       athlete_name
136     2998928    Breanna Stewart
205     3907781  Sophie Cunningham
208     3913881       Alanna Smith
316     4432831      Aliyah Boston

# 34. What was the average regular-season turnover rate for teams that made it to the playoffs versus those that didn't in the 2021 season?

In [178]:
playoff_teams = ['Chicago Sky', 'Phoenix Mercury', 'Seattle Storm', 'Minnesota Lynx',
                'Connecticut Sun', 'Las Vegas Aces']

In [179]:
question_34_df = team_box_2023_df[['team_display_name', 'season_type', 'team_turnovers', 'field_goals_attempted', 'free_throws_attempted', 'assists']]

In [180]:
question_34_df['isPlayoffTeam'] = question_34_df['team_display_name'].isin(playoff_teams)

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/1236675886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_34_df['isPlayoffTeam'] = question_34_df['team_display_name'].isin(playoff_teams)

In [181]:
question_34_df = question_34_df[question_34_df['season_type'] == 2]

In [182]:
question_34_df = question_34_df.drop(columns=['team_display_name', 'season_type'])

In [183]:
question_34_df = question_34_df.groupby(['isPlayoffTeam'])['team_turnovers', 'field_goals_attempted', 'free_throws_attempted', 'assists'].sum().reset_index()

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/18013814.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  question_34_df = question_34_df.groupby(['isPlayoffTeam'])['team_turnovers', 'field_goals_attempted', 'free_throws_attempted', 'assists'].sum().reset_index()

In [184]:
question_34_df['toRatio'] = (question_34_df['team_turnovers'] * 100)

In [185]:
question_34_df['toRatio'] /= (question_34_df['field_goals_attempted'] + (0.44 * question_34_df['free_throws_attempted']) + question_34_df['assists'] + question_34_df['team_turnovers'])

In [186]:
question_34_df = question_34_df.drop(columns=['team_turnovers', 'field_goals_attempted', 'free_throws_attempted', 'assists'])

In [187]:
question_34_df

   isPlayoffTeam   toRatio
0          False  0.905455
1           True  1.024440

# 37. Compare the average playing time of starters versus bench players for each team in the 2022 season.

In [188]:
question_37_df = player_box_2022_df[['athlete_display_name', 'minutes', 'starter', 'team_display_name']]

In [189]:
question_37_df = question_37_df[(question_37_df['minutes'] > 0) & (question_37_df['minutes'].notna())]

In [190]:
question_37_df = question_37_df.groupby(['athlete_display_name', 'team_display_name', 'starter'])['minutes'].mean().reset_index()

In [191]:
question_37_df = question_37_df.groupby(['team_display_name', 'starter'])['minutes'].mean().reset_index()

In [192]:
question_37_df = question_37_df[question_37_df['team_display_name'] != 'Team Wilson']
question_37_df = question_37_df[question_37_df['team_display_name'] != 'Team Stewart']

In [193]:
question_37_df = question_37_df.pivot(index='team_display_name', columns='starter', values='minutes')

In [194]:
question_37_df.columns = ['Non-Starter Minutes', 'Starter Minutes']

In [195]:
question_37_df

                    Non-Starter Minutes  Starter Minutes
team_display_name
Atlanta Dream                 14.572200        25.220963
Chicago Sky                   11.648889        28.892886
Connecticut Sun               11.622491        28.493668
Dallas Wings                  12.987244        25.998915
Indiana Fever                 13.471734        25.648515
Las Vegas Aces                10.376067        28.556540
Los Angeles Sparks            15.850656        23.802048
Minnesota Lynx                13.423512        24.429795
New York Liberty              14.438222        25.922970
Phoenix Mercury               11.801839        27.823280
Seattle Storm                 12.283931        28.588537
Washington Mystics            11.340023        27.853783

# 38. Which player scored the most clutch points in the 2023 season? Let’s define clutch points as points scored in the last 2 minutes of games where the teams’ scores are within 5 points of each other.

In [196]:
question_38_df = pbp_2023_df[['athlete_id_1', 'score_value', 'scoring_play', 'start_game_seconds_remaining', 'away_score', 'home_score']]

In [197]:
question_38_df = question_38_df[question_38_df['scoring_play'] == True]

In [198]:
question_38_df = question_38_df[question_38_df['start_game_seconds_remaining'] <= 120]

In [199]:
question_38_df = question_38_df[abs(question_38_df['away_score'] - question_38_df['home_score']) <= 5]

In [200]:
question_38_df = question_38_df.drop(columns=['scoring_play', 'start_game_seconds_remaining', 'away_score', 'home_score'])

In [201]:
question_38_df = question_38_df.groupby('athlete_id_1', as_index=False)['score_value'].sum()

In [202]:
question_38_df = question_38_df.sort_values(by='score_value', ascending=False)

In [203]:
question_38_df.head()

    athlete_id_1  score_value
56     3904577.0           37
69     4066533.0           34
64     3917450.0           33
35     2998928.0           32
88     4432831.0           32

In [204]:
question_38_df_player_info = player_info_df[['athlete_id', 'athlete_name']]

In [205]:
question_38_df_player_info = question_38_df_player_info[question_38_df_player_info['athlete_id'] == 3904577]

In [206]:
question_38_df_player_info

     athlete_id      athlete_name
199     3904577  Arike Ogunbowale

# 40. How did the shooting efficiency, in terms of Effective Field Goal percentage, of players differ between home and away regular season games in the 2022 season?

In [207]:
question_40_df = player_box_2022_df[['season_type', 'field_goals_made', 'three_point_field_goals_made', 'field_goals_attempted', 'home_away']]

In [208]:
question_40_df = question_40_df[question_40_df['season_type'] == 2]

In [209]:
question_40_df = question_40_df.drop(columns=['season_type'])

In [210]:
question_40_df = question_40_df.groupby(['home_away'])['field_goals_made', 'three_point_field_goals_made', 'field_goals_attempted'].sum().reset_index()

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_26631/2940104026.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  question_40_df = question_40_df.groupby(['home_away'])['field_goals_made', 'three_point_field_goals_made', 'field_goals_attempted'].sum().reset_index()

In [211]:
question_40_df['efg'] = (question_40_df['field_goals_made'] + 0.5 * question_40_df['three_point_field_goals_made']) / question_40_df['field_goals_attempted']

In [212]:
question_40_df = question_40_df.drop(columns=['field_goals_made', 'three_point_field_goals_made', 'field_goals_attempted'])

In [213]:
question_40_df

  home_away       efg
0      away  0.499630
1      home  0.499261