In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
player_info_df = pd.read_csv('data/player_info.csv')

pbp_2018_df = pd.read_csv('data/wnba_pbp_2018.csv')
pbp_2019_df = pd.read_csv('data/wnba_pbp_2019.csv')
pbp_2020_df = pd.read_csv('data/wnba_pbp_2020.csv')
pbp_2021_df = pd.read_csv('data/wnba_pbp_2021.csv')
pbp_2022_df = pd.read_csv('data/wnba_pbp_2022.csv')
pbp_2023_df = pd.read_csv('data/wnba_pbp_2023.csv')
pbp_2024_df = pd.read_csv('data/wnba_pbp_2024.csv')

player_box_2018_df = pd.read_csv('data/wnba_player_box_2018.csv')
player_box_2019_df = pd.read_csv('data/wnba_player_box_2019.csv')
player_box_2020_df = pd.read_csv('data/wnba_player_box_2020.csv')
player_box_2021_df = pd.read_csv('data/wnba_player_box_2021.csv')
player_box_2022_df = pd.read_csv('data/wnba_player_box_2022.csv')
player_box_2023_df = pd.read_csv('data/wnba_player_box_2023.csv')
player_box_2024_df = pd.read_csv('data/wnba_player_box_2024.csv')

schedule_2018_df = pd.read_csv('data/wnba_schedule_2018.csv')
schedule_2019_df = pd.read_csv('data/wnba_schedule_2019.csv')
schedule_2020_df = pd.read_csv('data/wnba_schedule_2020.csv')
schedule_2021_df = pd.read_csv('data/wnba_schedule_2021.csv')
schedule_2022_df = pd.read_csv('data/wnba_schedule_2022.csv')
schedule_2023_df = pd.read_csv('data/wnba_schedule_2023.csv')
schedule_2024_df = pd.read_csv('data/wnba_schedule_2024.csv')

team_box_2018_df = pd.read_csv('data/wnba_team_box_2018.csv')
team_box_2019_df = pd.read_csv('data/wnba_team_box_2019.csv')
team_box_2020_df = pd.read_csv('data/wnba_team_box_2020.csv')
team_box_2021_df = pd.read_csv('data/wnba_team_box_2021.csv')
team_box_2022_df = pd.read_csv('data/wnba_team_box_2022.csv')
team_box_2023_df = pd.read_csv('data/wnba_team_box_2023.csv')
team_box_2024_df = pd.read_csv('data/wnba_team_box_2024.csv')

# 1. Which player scored the most points in a single game between 2018 and 2024?

In [3]:
question_1_df_2018 = player_box_2018_df[['athlete_display_name', 'points']]
question_1_df_2019 = player_box_2019_df[['athlete_display_name', 'points']]
question_1_df_2020 = player_box_2020_df[['athlete_display_name', 'points']]
question_1_df_2021 = player_box_2021_df[['athlete_display_name', 'points']]
question_1_df_2022 = player_box_2022_df[['athlete_display_name', 'points']]
question_1_df_2023 = player_box_2023_df[['athlete_display_name', 'points']]
question_1_df_2024 = player_box_2024_df[['athlete_display_name', 'points']]

question_1_df = pd.concat([question_1_df_2018, question_1_df_2019, question_1_df_2020, 
                           question_1_df_2021, question_1_df_2022, question_1_df_2023,
                           question_1_df_2024], ignore_index=True)

In [4]:
question_1_df = question_1_df.groupby('athlete_display_name', as_index=False)['points'].max()

In [5]:
question_1_df = question_1_df.sort_values(by='points', ascending=False)

In [6]:
question_1_df.head()

    athlete_display_name  points
0            A'ja Wilson    53.0
219          Liz Cambage    53.0
51       Breanna Stewart    45.0
280         Rhyne Howard    43.0
105        Diana Taurasi    42.0

# 2. Which team had the highest average points per game in the 2021 season?

In [7]:
question_2_df = team_box_2021_df[['team_display_name', 'team_score']]

In [8]:
question_2_df = question_2_df.groupby('team_display_name', as_index=False)['team_score'].mean()

In [9]:
question_2_df = question_2_df.sort_values(by='team_score', ascending=False)

In [10]:
question_2_df = question_2_df[question_2_df['team_display_name'] != 'Team WNBA']
question_2_df = question_2_df[question_2_df['team_display_name'] != 'Team Usa']

In [11]:
question_2_df.head()

   team_display_name  team_score
5     Las Vegas Aces   88.648649
10     Seattle Storm   84.500000
1        Chicago Sky   83.595238
7     Minnesota Lynx   82.515152
9    Phoenix Mercury   82.395349

# 4. Which player had the highest free throw percentage in the 2020 season?

In [12]:
question_4_df = player_box_2020_df[['athlete_display_name', 'free_throws_made', 'free_throws_attempted']]

In [13]:
question_4_df = question_4_df.groupby('athlete_display_name', as_index=False).sum()

In [14]:
question_4_df['free_throws_percentage'] = question_4_df['free_throws_made'] / question_4_df['free_throws_attempted']

In [15]:
question_4_df = question_4_df.drop(columns=['free_throws_made', 'free_throws_attempted'])

In [16]:
question_4_df = question_4_df.sort_values(by='free_throws_percentage', ascending=False)

In [17]:
question_4_df.head(10)

    athlete_display_name  free_throws_percentage
79         Kamiah Smalls                1.000000
136       Stella Johnson                1.000000
102         Marie Gulich                1.000000
126        Sami Whitcomb                1.000000
130   Shekinna Stricklen                1.000000
132           Shey Peddy                1.000000
125      Sabrina Ionescu                1.000000
149     Tiffany Mitchell                0.950617
36          Chelsea Gray                0.938776
119         Odyssey Sims                0.938776

# 5. What was the win-loss record of the Seattle Storm in the 2022 season?

In [18]:
question_5_df = team_box_2022_df[['team_display_name', 'team_winner']]

In [19]:
question_5_df = question_5_df[question_5_df['team_display_name'] == 'Seattle Storm']

In [20]:
question_5_df['team_winner'].value_counts()

True     25
False    17
Name: team_winner, dtype: int64

# 8. Which team had the best defense in the 2024 season (by opponent points)?

In [21]:
question_8_df = team_box_2024_df[['team_display_name', 'opponent_team_score']]

In [22]:
question_8_df = question_8_df.groupby('team_display_name', as_index=False)['opponent_team_score'].mean()

In [23]:
question_8_df = question_8_df.sort_values(by='opponent_team_score', ascending=True)

In [24]:
question_8_df.head()

   team_display_name  opponent_team_score
2    Connecticut Sun            71.083333
8   New York Liberty            75.923077
7     Minnesota Lynx            76.000000
10     Seattle Storm            78.076923
1        Chicago Sky            80.000000

# 10. Which player played the most minutes in the 2021 season?

In [25]:
question_10_df = player_box_2021_df[['athlete_display_name', 'minutes']]

In [26]:
question_10_df = question_10_df.groupby('athlete_display_name', as_index=False)['minutes'].sum()

In [27]:
question_10_df = question_10_df.sort_values(by='minutes', ascending=False)

In [28]:
question_10_df.head()

     athlete_display_name  minutes
140  Skylar Diggins-Smith   1440.0
30        Brittney Griner   1394.0
26         Brianna Turner   1342.0
42   Courtney Vandersloot   1337.0
79         Kahleah Copper   1329.0

# 12. Which player had the highest number of assists in a single game during the 2019 season?

In [45]:
question_12_df = player_box_2019_df[['athlete_display_name', 'assists']]

In [46]:
question_12_df = question_12_df.sort_values(by='assists', ascending=False)

In [47]:
question_12_df.head()

      athlete_display_name  assists
2648  Courtney Vandersloot     14.0
3356          Chelsea Gray     13.0
831   Courtney Vandersloot     13.0
1968  Courtney Vandersloot     13.0
1157  Courtney Vandersloot     13.0

# 15. Which player had the most steals in the 2023 season?

In [33]:
question_15_df = player_box_2023_df[['athlete_display_name', 'steals']]

In [34]:
question_15_df = question_15_df.groupby('athlete_display_name', as_index=False)['steals'].sum()

In [35]:
question_15_df = question_15_df.sort_values(by='steals', ascending=False)

In [36]:
question_15_df.head()

    athlete_display_name  steals
25        Brittney Sykes    88.0
72         Jordin Canada    86.0
10         Alyssa Thomas    85.0
14      Arike Ogunbowale    77.0
142        Satou Sabally    76.0

# 19. Who were the top 3 rebounders in the 2021 season?

In [37]:
question_19_df = player_box_2021_df[['athlete_display_name', 'rebounds']]

In [38]:
question_19_df = question_19_df.groupby('athlete_display_name', as_index=False)['rebounds'].sum()

In [39]:
question_19_df = question_19_df.sort_values(by='rebounds', ascending=False)

In [40]:
question_19_df.head()

    athlete_display_name  rebounds
26        Brianna Turner     411.0
30       Brittney Griner     379.0
76         Jonquel Jones     367.0
0            A'ja Wilson     349.0
149        Sylvia Fowles     327.0

# 20. What was the total number of blocks by Brittney Griner in the 2023 season?

In [41]:
question_20_df = player_box_2023_df[['athlete_display_name', 'blocks']]

In [42]:
question_20_df = question_20_df.groupby('athlete_display_name', as_index=False)['blocks'].sum()

In [43]:
question_20_df[question_20_df['athlete_display_name'] == 'Brittney Griner']

   athlete_display_name  blocks
24      Brittney Griner    52.0