In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
player_info_df = pd.read_csv('data/player_info.csv')

pbp_2018_df = pd.read_csv('data/wnba_pbp_2018.csv')
pbp_2019_df = pd.read_csv('data/wnba_pbp_2019.csv')
pbp_2020_df = pd.read_csv('data/wnba_pbp_2020.csv')
pbp_2021_df = pd.read_csv('data/wnba_pbp_2021.csv')
pbp_2022_df = pd.read_csv('data/wnba_pbp_2022.csv')
pbp_2023_df = pd.read_csv('data/wnba_pbp_2023.csv')
pbp_2024_df = pd.read_csv('data/wnba_pbp_2024.csv')

player_box_2018_df = pd.read_csv('data/wnba_player_box_2018.csv')
player_box_2019_df = pd.read_csv('data/wnba_player_box_2019.csv')
player_box_2020_df = pd.read_csv('data/wnba_player_box_2020.csv')
player_box_2021_df = pd.read_csv('data/wnba_player_box_2021.csv')
player_box_2022_df = pd.read_csv('data/wnba_player_box_2022.csv')
player_box_2023_df = pd.read_csv('data/wnba_player_box_2023.csv')
player_box_2024_df = pd.read_csv('data/wnba_player_box_2024.csv')

schedule_2018_df = pd.read_csv('data/wnba_schedule_2018.csv')
schedule_2019_df = pd.read_csv('data/wnba_schedule_2019.csv')
schedule_2020_df = pd.read_csv('data/wnba_schedule_2020.csv')
schedule_2021_df = pd.read_csv('data/wnba_schedule_2021.csv')
schedule_2022_df = pd.read_csv('data/wnba_schedule_2022.csv')
schedule_2023_df = pd.read_csv('data/wnba_schedule_2023.csv')
schedule_2024_df = pd.read_csv('data/wnba_schedule_2024.csv')

team_box_2018_df = pd.read_csv('data/wnba_team_box_2018.csv')
team_box_2019_df = pd.read_csv('data/wnba_team_box_2019.csv')
team_box_2020_df = pd.read_csv('data/wnba_team_box_2020.csv')
team_box_2021_df = pd.read_csv('data/wnba_team_box_2021.csv')
team_box_2022_df = pd.read_csv('data/wnba_team_box_2022.csv')
team_box_2023_df = pd.read_csv('data/wnba_team_box_2023.csv')
team_box_2024_df = pd.read_csv('data/wnba_team_box_2024.csv')

# 1. Which player scored the most points in a single game between 2018 and 2024?

In [3]:
question_1_df_2018 = player_box_2018_df[['athlete_display_name', 'points']]
question_1_df_2019 = player_box_2019_df[['athlete_display_name', 'points']]
question_1_df_2020 = player_box_2020_df[['athlete_display_name', 'points']]
question_1_df_2021 = player_box_2021_df[['athlete_display_name', 'points']]
question_1_df_2022 = player_box_2022_df[['athlete_display_name', 'points']]
question_1_df_2023 = player_box_2023_df[['athlete_display_name', 'points']]
question_1_df_2024 = player_box_2024_df[['athlete_display_name', 'points']]

question_1_df = pd.concat([question_1_df_2018, question_1_df_2019, question_1_df_2020, 
                           question_1_df_2021, question_1_df_2022, question_1_df_2023,
                           question_1_df_2024], ignore_index=True)

In [4]:
question_1_df = question_1_df.groupby('athlete_display_name', as_index=False)['points'].max()

In [5]:
question_1_df = question_1_df.sort_values(by='points', ascending=False)

In [6]:
question_1_df.head()

    athlete_display_name  points
0            A'ja Wilson    53.0
219          Liz Cambage    53.0
51       Breanna Stewart    45.0
280         Rhyne Howard    43.0
105        Diana Taurasi    42.0

# 2. Which team had the highest average points per game in the 2021 season?

In [7]:
question_2_df = team_box_2021_df[['team_display_name', 'team_score']]

In [8]:
question_2_df = question_2_df.groupby('team_display_name', as_index=False)['team_score'].mean()

In [9]:
question_2_df = question_2_df.sort_values(by='team_score', ascending=False)

In [10]:
question_2_df = question_2_df[question_2_df['team_display_name'] != 'Team WNBA']
question_2_df = question_2_df[question_2_df['team_display_name'] != 'Team Usa']

In [11]:
question_2_df.head()

   team_display_name  team_score
5     Las Vegas Aces   88.648649
10     Seattle Storm   84.500000
1        Chicago Sky   83.595238
7     Minnesota Lynx   82.515152
9    Phoenix Mercury   82.395349

# 3. How many games ended in overtime during the 2023 season?

In [12]:
question_3_df = pbp_2023_df[['game_id', 'qtr']]

In [13]:
question_3_df = question_3_df[question_3_df['qtr'] == 5]

In [14]:
question_3_df = question_3_df.drop_duplicates(subset='game_id')

In [15]:
question_3_df.shape[0]

11

# 4. Which player had the highest free throw percentage in the 2020 season (min. 25 FTâ€™s attempted)?

In [16]:
question_4_df = player_box_2020_df[['athlete_display_name', 'free_throws_made', 'free_throws_attempted']]

In [17]:
question_4_df = question_4_df.groupby('athlete_display_name', as_index=False).sum()

In [18]:
question_4_df = question_4_df[question_4_df['free_throws_attempted'] >= 25.0]

In [19]:
question_4_df['free_throws_percentage'] = question_4_df['free_throws_made'] / question_4_df['free_throws_attempted']

In [20]:
question_4_df = question_4_df.drop(columns=['free_throws_made', 'free_throws_attempted'])

In [21]:
question_4_df = question_4_df.sort_values(by='free_throws_percentage', ascending=False)

In [22]:
question_4_df.head()

    athlete_display_name  free_throws_percentage
149     Tiffany Mitchell                0.950617
36          Chelsea Gray                0.938776
119         Odyssey Sims                0.938776
8          Allie Quigley                0.926829
49         Diana Taurasi                0.918033

# 5. What was the win-loss record of the Seattle Storm in the 2022 season?

In [23]:
question_5_df = team_box_2022_df[['team_display_name', 'team_winner']]

In [24]:
question_5_df = question_5_df[question_5_df['team_display_name'] == 'Seattle Storm']

In [25]:
question_5_df['team_winner'].value_counts()

True     25
False    17
Name: team_winner, dtype: int64

# 8. Which team had the best defense in the 2024 season (by opponent points)?

In [26]:
question_8_df = team_box_2024_df[['team_display_name', 'opponent_team_score']]

In [27]:
question_8_df = question_8_df.groupby('team_display_name', as_index=False)['opponent_team_score'].mean()

In [28]:
question_8_df = question_8_df.sort_values(by='opponent_team_score', ascending=True)

In [29]:
question_8_df.head()

   team_display_name  opponent_team_score
2    Connecticut Sun            71.083333
8   New York Liberty            75.923077
7     Minnesota Lynx            76.000000
10     Seattle Storm            78.076923
1        Chicago Sky            80.000000

# 9. Identify the game with the highest combined score (both teams) from 2018 to 2024.

In [30]:
question_9_df_2018 = team_box_2018_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2019 = team_box_2019_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2020 = team_box_2020_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2021 = team_box_2021_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2022 = team_box_2022_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2023 = team_box_2023_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]
question_9_df_2024 = team_box_2024_df[['game_id', 'game_date', 'team_display_name', 'team_score', 'opponent_team_display_name', 'opponent_team_score', 'team_home_away']]

question_9_df = pd.concat([question_9_df_2018, question_9_df_2019, question_9_df_2020, 
                           question_9_df_2021, question_9_df_2022, question_9_df_2023,
                           question_9_df_2024], ignore_index=True)

In [31]:
question_9_df['combined_score'] = question_9_df['team_score'] + question_9_df['opponent_team_score']

In [32]:
question_9_df = question_9_df.drop_duplicates(subset='game_id')

In [33]:
question_9_df = question_9_df.drop(columns=['team_score', 'opponent_team_score', 'game_id'])

In [34]:
question_9_df = question_9_df[~question_9_df['team_display_name'].str.contains('Team')]

In [35]:
question_9_df = question_9_df.sort_values(by='combined_score', ascending=False)

In [36]:
question_9_df.head()

,game_date,team_display_name,opponent_team_display_name,team_home_away,combined_score
1802,2022-07-12,Phoenix Mercury,Minnesota Lynx,away,225
1816,2022-07-06,New York Liberty,Las Vegas Aces,away,223
46,2018-08-18,Chicago Sky,Indiana Fever,away,221
1392,2021-07-04,Atlanta Dream,Las Vegas Aces,away,213
160,2018-07-20,Dallas Wings,Chicago Sky,away,213

# 10. Which player played the most minutes in the 2021 season?

In [37]:
question_10_df = player_box_2021_df[['athlete_display_name', 'minutes']]

In [38]:
question_10_df = question_10_df.groupby('athlete_display_name', as_index=False)['minutes'].sum()

In [39]:
question_10_df = question_10_df.sort_values(by='minutes', ascending=False)

In [40]:
question_10_df.head()

     athlete_display_name  minutes
140  Skylar Diggins-Smith   1440.0
30        Brittney Griner   1394.0
26         Brianna Turner   1342.0
42   Courtney Vandersloot   1337.0
79         Kahleah Copper   1329.0

# 11. What is the average attendance for games in the 2020 season?

In [41]:
question_11_df = schedule_2020_df[['attendance']]

In [42]:
question_11_df = question_11_df.sort_values(by='attendance', ascending=False)

In [43]:
question_11_df['attendance'].mean()

1.380952380952381

# 12. Which player had the highest number of assists in a single game during the 2019 season?

In [44]:
question_12_df = player_box_2019_df[['athlete_display_name', 'assists']]

In [45]:
question_12_df = question_12_df.sort_values(by='assists', ascending=False)

In [46]:
question_12_df.head()

      athlete_display_name  assists
2648  Courtney Vandersloot     14.0
3356          Chelsea Gray     13.0
831   Courtney Vandersloot     13.0
1968  Courtney Vandersloot     13.0
1157  Courtney Vandersloot     13.0

# 13. How many times did the Chicago Sky make it to the playoffs between 2018 and 2024?

In [47]:
question_13_df_2018 = schedule_2018_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2019 = schedule_2019_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2020 = schedule_2020_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2021 = schedule_2021_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2022 = schedule_2022_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2023 = schedule_2023_df[['season', 'season_type', 'home_display_name', 'away_display_name']]
question_13_df_2024 = schedule_2024_df[['season', 'season_type', 'home_display_name', 'away_display_name']]

question_13_df = pd.concat([question_13_df_2018, question_13_df_2019, question_13_df_2020, 
                           question_13_df_2021, question_13_df_2022, question_13_df_2023,
                           question_13_df_2024], ignore_index=True)

In [48]:
question_13_df = question_13_df[question_13_df['season_type'] == 3]

In [49]:
question_13_df = question_13_df[(question_13_df['home_display_name'] == 'Chicago Sky') | (question_13_df['away_display_name'] == 'Chicago Sky')]

In [50]:
question_13_df = question_13_df[['season']]

In [51]:
question_13_df = question_13_df.drop_duplicates(subset='season')

In [52]:
question_13_df.shape[0]

5

# 14. What was the average margin of victory for the Las Vegas Aces in the 2022 season?

In [53]:
question_14_df = team_box_2022_df[['team_display_name', 'team_score', 'opponent_team_score']]

In [54]:
question_14_df = question_14_df[question_14_df['team_display_name'] == 'Las Vegas Aces']

In [55]:
question_14_df['score_difference'] = question_14_df['team_score'] - question_14_df['opponent_team_score']

In [56]:
question_14_df = question_14_df.drop(columns=['team_score', 'opponent_team_score'])

In [57]:
question_14_df = question_14_df.groupby('team_display_name', as_index=False)['score_difference'].mean()

In [58]:
question_14_df

  team_display_name  score_difference
0    Las Vegas Aces          6.510638

# 15. Which player had the most steals in the 2023 season?

In [59]:
question_15_df = player_box_2023_df[['athlete_display_name', 'steals']]

In [60]:
question_15_df = question_15_df.groupby('athlete_display_name', as_index=False)['steals'].sum()

In [61]:
question_15_df = question_15_df.sort_values(by='steals', ascending=False)

In [62]:
question_15_df.head()

    athlete_display_name  steals
25        Brittney Sykes    88.0
72         Jordin Canada    86.0
10         Alyssa Thomas    85.0
14      Arike Ogunbowale    77.0
142        Satou Sabally    76.0

# 16. Identify the top 5 games with the highest attendance between 2018 and 2024.

In [63]:
question_16_df_2018 = schedule_2018_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2019 = schedule_2019_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2020 = schedule_2020_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2021 = schedule_2021_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2022 = schedule_2022_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2023 = schedule_2023_df[['date', 'attendance', 'away_display_name', 'home_display_name']]
question_16_df_2024 = schedule_2024_df[['date', 'attendance', 'away_display_name', 'home_display_name']]

question_16_df = pd.concat([question_16_df_2018, question_16_df_2019, question_16_df_2020, 
                           question_16_df_2021, question_16_df_2022, question_16_df_2023,
                           question_16_df_2024], ignore_index=True)

In [64]:
question_16_df = question_16_df.sort_values(by='attendance', ascending=False)

In [65]:
question_16_df.head()

                   date  attendance away_display_name   home_display_name
1491  2024-06-07T23:30Z       20333     Indiana Fever  Washington Mystics
1523  2024-05-25T02:00Z       19103     Indiana Fever  Los Angeles Sparks
53    2018-08-05T23:00Z       19076   Phoenix Mercury  Los Angeles Sparks
1527  2024-05-23T02:00Z       18343     Indiana Fever       Seattle Storm
844   2022-08-07T19:00Z       18100    Las Vegas Aces       Seattle Storm

# 18. Which games had the most technical fouls called between 2018 and 2024?

In [66]:
question_18_df_2018 = team_box_2018_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2019 = team_box_2019_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2020 = team_box_2020_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2021 = team_box_2021_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2022 = team_box_2022_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2023 = team_box_2023_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]
question_18_df_2024 = team_box_2024_df[['game_id', 'game_date', 'team_display_name', 'total_technical_fouls', 'opponent_team_display_name', 'team_home_away']]

question_18_df = pd.concat([question_18_df_2018, question_18_df_2019, question_18_df_2020, 
                           question_18_df_2021, question_18_df_2022, question_18_df_2023,
                           question_18_df_2024], ignore_index=True)

In [67]:
question_18_df_sub = question_18_df[['game_id', 'total_technical_fouls']]

In [68]:
question_18_df_sub = question_18_df_sub.groupby('game_id', as_index=False)['total_technical_fouls'].sum()

In [69]:
question_18_df_sub = question_18_df_sub.sort_values(by='total_technical_fouls', ascending=False)

In [70]:
question_18_df_sub.head()

        game_id  total_technical_fouls
1106  401507196                     10
136   401018917                      9
648   401320624                      7
23    401018804                      6
178   401018960                      6

In [71]:
question_18_df = question_18_df.drop_duplicates(subset='game_id')

In [72]:
question_18_df = question_18_df.drop(columns=['total_technical_fouls'])

In [73]:
question_18_df[question_18_df['game_id'] == 401507196]

,game_id,game_date,team_display_name,opponent_team_display_name,team_home_away
2474,401507196,2023-06-20,Atlanta Dream,Dallas Wings,away

In [74]:
question_18_df[question_18_df['game_id'] == 401018917]

,game_id,game_date,team_display_name,opponent_team_display_name,team_home_away
168,401018917,2018-07-19,New York Liberty,Atlanta Dream,away

In [75]:
question_18_df[question_18_df['game_id'] == 401320624]

,game_id,game_date,team_display_name,opponent_team_display_name,team_home_away
1480,401320624,2021-06-12,Los Angeles Sparks,Minnesota Lynx,away

# 19. Who were the top 3 rebounders in the 2021 season?

In [76]:
question_19_df = player_box_2021_df[['athlete_display_name', 'rebounds']]

In [77]:
question_19_df = question_19_df.groupby('athlete_display_name', as_index=False)['rebounds'].sum()

In [78]:
question_19_df = question_19_df.sort_values(by='rebounds', ascending=False)

In [79]:
question_19_df.head()

    athlete_display_name  rebounds
26        Brianna Turner     411.0
30       Brittney Griner     379.0
76         Jonquel Jones     367.0
0            A'ja Wilson     349.0
149        Sylvia Fowles     327.0

# 20. What was the total number of blocks by Brittney Griner in the 2023 season?

In [80]:
question_20_df = player_box_2023_df[['athlete_display_name', 'blocks']]

In [81]:
question_20_df = question_20_df.groupby('athlete_display_name', as_index=False)['blocks'].sum()

In [82]:
question_20_df[question_20_df['athlete_display_name'] == 'Brittney Griner']

   athlete_display_name  blocks
24      Brittney Griner    52.0

# 22. Which team had the highest average home game attendance in the 2021 season?

In [83]:
question_22_df = schedule_2021_df[['home_display_name', 'attendance']]

In [84]:
question_22_df = question_22_df.groupby('home_display_name', as_index=False)['attendance'].mean()

In [85]:
question_22_df = question_22_df.sort_values(by='attendance', ascending=False)

In [86]:
question_22_df = question_22_df[question_22_df['home_display_name'] != 'Team WNBA']

In [87]:
question_22_df.head()

   home_display_name   attendance
9    Phoenix Mercury  6744.428571
1        Chicago Sky  3840.666667
2    Connecticut Sun  3093.666667
5     Las Vegas Aces  2934.263158
10     Seattle Storm  2894.222222

# 23. What was the average plus-minus of players who played more than 30 minutes per game in the 2022 season?

In [88]:
question_23_df = player_box_2022_df[['plus_minus', 'minutes']]

In [89]:
question_23_df = question_23_df[question_23_df['minutes'] > 30.0]

In [90]:
question_23_df = question_23_df.drop(columns=['minutes'])

In [91]:
question_23_df['plus_minus'] = question_23_df['plus_minus'].str.replace('+', '').astype(int)

/var/folders/bs/1lgq_z0j12s291gbh297h38h0000gn/T/ipykernel_10109/3952893295.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  question_23_df['plus_minus'] = question_23_df['plus_minus'].str.replace('+', '').astype(int)

In [92]:
question_23_df['plus_minus'].mean()

1.2449177153920619

# 24. Which player had the highest scoring average in games where their team lost during the 2020 season?

In [93]:
question_24_df = player_box_2020_df[['athlete_display_name', 'points', 'team_winner']]

In [94]:
question_24_df = question_24_df[question_24_df['team_winner'] == False]

In [95]:
question_24_df = question_24_df.drop(columns=['team_winner'])

In [96]:
question_24_df = question_24_df.groupby('athlete_display_name', as_index=False)['points'].mean()

In [97]:
question_24_df = question_24_df.sort_values(by='points', ascending=False)

In [98]:
question_24_df.head()

    athlete_display_name     points
15      Arike Ogunbowale  20.714286
23       Breanna Stewart  20.666667
46        DeWanna Bonner  19.000000
125      Sabrina Ionescu  18.333333
69           Jewell Loyd  18.250000