In [1]:
import pandas as pd
import numpy as np

In [2]:
wnba_2018_df = pd.read_csv('Data/wnba_pbp_2018.csv')
wnba_2019_df = pd.read_csv('Data/wnba_pbp_2019.csv')
wnba_2020_df = pd.read_csv('Data/wnba_pbp_2020.csv')
wnba_2021_df = pd.read_csv('Data/wnba_pbp_2021.csv')
wnba_2022_df = pd.read_csv('Data/wnba_pbp_2022.csv')
wnba_2023_df = pd.read_csv('Data/wnba_pbp_2023.csv')
wnba_2024_df = pd.read_csv('Data/wnba_pbp_2024.csv')

In [3]:
merged_df = pd.concat([wnba_2018_df, 
                       wnba_2019_df, 
                       wnba_2020_df,
                       wnba_2021_df, 
                       wnba_2022_df, 
                       wnba_2023_df,
                       wnba_2024_df], ignore_index=True)

In [4]:
athlete_ids_df = merged_df[['athlete_id_1', 'athlete_id_2', 'athlete_id_3']]

In [5]:
stacked_athlete_id_df = athlete_ids_df.stack().reset_index(drop=True).to_frame(name='athlete_id')

In [6]:
stacked_athlete_id_df['athlete_id'] = stacked_athlete_id_df['athlete_id'].astype(int)

In [7]:
stacked_athlete_id_df['athlete_id'].value_counts()

3149391    10376
869         8954
2998928     8888
981         8236
2999101     8195
           ...
313            3
985            2
3054094        2
40             2
3143139        1
Name: athlete_id, Length: 346, dtype: int64

In [8]:
athlete_id_df = stacked_athlete_id_df.drop_duplicates(subset=['athlete_id'])

In [9]:
athlete_id_df['athlete_id'].value_counts()

798        1
4281929    1
4065781    1
4066548    1
4281190    1
          ..
2984741    1
2998938    1
2529458    1
685        1
4066527    1
Name: athlete_id, Length: 346, dtype: int64

In [10]:
athlete_id_df = athlete_id_df.sort_values(by=['athlete_id'], ascending=True).reset_index(drop=True)

In [11]:
athlete_id_df

     athlete_id
0            14
1            40
2            91
3           313
4           545
..          ...
341     5017726
342     5105752
343     5106150
344     5130672
345     5209660

[346 rows x 1 columns]

In [12]:
athlete_id_df.to_csv('Data/athlete_ids.csv', index=False)